body {
    background: rgb(202, 97, 231);
    font-family: "Quicksand", sans-serif;
    color: rgb(28, 8, 8);
    margin: 0;
    padding: 0;
  }
  
  main {
    max-width: 610px;
    margin: auto;
  }
  
  h1 {
    text-align: center;
    color: rgb(207, 11, 11);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
  }
  
  .win {
    color: rgb(115, 27, 238);
    background-color: rgb(11, 163, 11);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
  }
  
  .loss {
    color: rgb(255, 255, 255);
    background-color: rgb(233, 30, 99);
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    padding: 10px;
    border-radius: 8px;
  }
  
  #word {
    letter-spacing: 8px;
    text-align: center;
    font-size: 24pt;
    color: rgb(103, 12, 123);
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
  
  #guesses {
    text-align: center;
    font-size: 21pt;
    color: rgb(103, 12, 123);
    font-weight: 500;
    font-family: "Quicksand", sans-serif;
  }
  
  .guess {
    padding: 10px;
    display: inline-block;
    border: 2px solid rgb(73, 3, 89);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
    transition: background-color 0.3s ease;
  }

  .guess:hover {
    background-color: rgb(233, 233, 233);
  }
  
  @media only screen and (min-device-width: 375px ) and (max-device-width: 667px) {
      #guesses {
      text-align: center;
      font-size: 24pt;
      color: rgb(227, 227, 8);
      font-weight: bold;
      font-family: "Quicksand", sans-serif;
    }
  
    .guess {
      padding: 30px;
      display: inline-block;
      border: 2px solid rgb(255, 255, 153);
      border-radius: 10px;
      margin: 10px;
      cursor: pointer;
    }
  }
  
  #guessBox {
      height: 60px;
      border-radius: 10px;
      padding-top: 5px;
      font-size: 18pt;
      width: 200px;
      padding-left: 10px;
      font-family: "Quicksand", sans-serif;
      border: 2px solid rgb(73, 3, 89);
  }
  
  /* Buttons */
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #683e3e;
    background-color: rgb(247, 87, 212);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #ee3d3d;
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button:hover {background-color: #ee3d3d}
  
  .button:active {
    background-color: rgb(232, 140, 193);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }